<form class="treemap-form">
  <label><input type="radio" ng-model="radio" ng-change="change()" value="size"> Relevance</label>
  <label><input type="radio" ng-model="radio" ng-change="change()" value="count"> Count</label>
</form>

<div>
  <span ng-repeat="concept in acceptedConcepts" style="margin-right: 15px">
    <input type="checkbox" ng-model="usedConcepts[concept]" ng-change="change()"> {{concept}}
  </span>
</div>

<h1>Diabetes</h1>
<div class="treemap-container"></div>

<h1>COPD</h1>
<div class="treemap-container-copd"></div>

<div id="tooltip" class="hidden">
  <p><strong id="concept"></strong></p>
  <p><strong id="entity"></strong></p>
  <p><span id="count"></span></p>
  <p><span id="relevance"></span></p>
</div>
